fastapi>=0.110.0
uvicorn[standard]>=0.28.0
motor>=3.3.2             # Driver async cho MongoDB
redis>=5.0.0             # Driver cho Redis
pydantic>=2.6.0          # Validate dữ liệu (Schemas)
pydantic-settings>=2.2.0 # Đọc file .env
pyjwt>=2.8.0             # Tạo và kiểm tra JWT token
bcrypt>=4.1.2            # Hash mật khẩu
cryptography>=42.0.0     # Mã hóa PII (Fernet)
edge-tts>=6.1.9          # Microsoft Edge TTS miễn phí
deep-translator>=1.11.4  # Dịch thuật Google Translate free
pytest>=8.0.0            # Chạy Unit Test phục vụ CI/CD
httpx>=0.27.0            # Client test async cho FastAPI